<html>
  <body>
     <br>
      <% @posts.each do |post| %>
      <div>
        <h3 class ="link" align='left'><%= link_to post.title,post_path(post), class: "link" %></h3>
        <br>
        <p class="indextext" style="color:gray">
            <a><%= post.created_at.strftime("%d %B %Y")%></a>
            <a style = "color:gray" href="<%= url_for(post) + "#disqus_thread" %>"></a>
        </p>
        <script id="dsq-count-scr" src="//zeoblocks-com.disqus.com/count.js" async></script>
        <br>
        <p class="indextext"> <%= post.description %>
          <br>
          <br>
          <a class = "indextext" href="#"><%= link_to "Read More", post_path(post) %></a>
        </p>
        <br>
      </div>
      <br>
      <% end %>
   </body>
</html>
